.nav{
    background-color: var(--black);
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.logo{
    width: 7rem;
    object-fit: contain;
}
.title{
    color: var(--black);
    background-color: var(--orange-1);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.rules{
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .2rem;
    cursor: pointer;
    width: 7rem;
}

/*** RESPONSIVIDADE ***/
@media screen and (max-width: 800px) {
    .nav{
        padding: .5rem 1rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .nav{
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    .rules{
        width: auto;
        margin: 0;
    }
}